* {
  box-sizing: border-box;
  margin: 0;
  font-size: 3vh;
  font-family: Courier, "Lucida Console", monospace;
}
.App {
  padding: 1rem;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*editor css */
.editor {
  border: 0.75vh solid #61dafb;
  height: 100%;
  margin-right: 1rem;
}
.editor__header {
  padding: 1rem;
  border-bottom: 0.75vh solid #61dafb;
}
.editor__textArea {
  min-height: 70vh;
  padding: 1rem;
  min-width: 100%;
  max-width: 100%;
}
/*preview css */
.preview {
  border: 0.75vh solid #61dafb;
  background-color: white;
  color: black;
}
.preview__header {
  color: white;
  background-color: #282c34;
  padding: 1rem;
  border-bottom: 0.75vh solid #61dafb;
}
.preview__view {
  font-size: 1rem;
  padding: 1rem;
}
.preview > blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}
.preview > pre {
  background: white;
  padding: 5px 0 5px 5px;
}
.preview > code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

.preview > table {
  border-collapse: collapse;
}

.preview > td,
th {
  border: 2px solid red;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 400px) {
  .App {
    flex-direction: column;
    overflow: hidden;
  }
  .preview__view {
    width: 250px;
    overflow-wrap: break-word;
  }
  pre > code {
    width: 10px;
  }
  table {
    width: 100px;
  }
  img {
    width: 200px;
  }
}
